footer
{
    display: flex;
    justify-content: center;    
    background-color: #293895;
}
footer *
{
    color: rgba(255, 255, 255, .9)!important;
}
footer>.footer_container
{
    width: 60.8%;
    display: grid;
    grid-template-columns: 2fr 1fr 3fr 2fr;
    column-gap: 2.8rem;
    padding: 3rem 0rem;
}

footer>.footer_container>.logo
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer>.footer_container>.logo>.image
{
    width: 50%;
}
footer>.footer_container>.logo>.image>img
{
    width: 100%;
}

footer>.footer_container>.logo>.contact
{
    display: flex;
    text-decoration: none;
}
footer>.footer_container>.logo>.contact>i
{
    background-color: var(--color_blue);
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.1rem;
    font-weight: 800;
}
footer>.footer_container>.logo>.contact>.num
{
    padding-left: 1rem;
}
footer>.footer_container>.logo>.contact>.num>.title
{
    font-weight: 500;
}
footer>.footer_container>.logo>.contact>.num>.digits
{
    font-weight: 600;
    font-size: 1.3rem;
}