@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
:root
{

    /* COLORS */
    --darkest_blue: #182041;
    --dark_blue: #222F64;
    --light_blue: #005FDB;
    --medium_blue: #32479F;
    --red: #B52D3C;
    --red_hover: #ce0119;
    --golden: #B58D34;
    --brown: #6C3E11;
    --grey: #ECECEC;
    
}
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
body
{
    /* position: relative; */
}
body>.page_container
{
    position: relative;
}
section
{
    display: flex;
    justify-content: center;
}
.section_wrapper
{
    width: 1600px;
}

@media screen and (max-width: 1654px)
{
    .section_wrapper
    {
        padding-left: 27px!important;
        padding-right: 27px!important;
    }
}
.page_content
{
    padding-top: 159px;
}
@media screen and (max-width: 1050px)
{
    .page_content
    {
        padding-top: 228px;
    }

}
@media screen and (max-width: 676px)
{
    .page_content
    {
        padding-top: 249px;
    }
}

.section_title
{
    font-size: 50px;
    color: var(--dark_blue);
}


/* LARGE BANNER */
.page_content>.large_banner
{
    min-height: 626px;
    /* min-height: calc(100vh - 50%); */
    min-width: 100%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.page_content>.large_banner>.section_wrapper
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.page_content>.large_banner>.section_wrapper>.left
{
    font-size: 10px;
    width: 600px;
}
.page_content>.large_banner>.section_wrapper>.left>.label
{
    margin-bottom: 28px;
    font-size: 7em;
    color: white;
}
.page_content>.large_banner>.section_wrapper>.left>.details
{
    font-size: 2.8em;
    color: white;
    margin-bottom: 26px;
}
.page_content>.large_banner>.section_wrapper>.left>button
{
    font-size: 2.8em;
    /* color: white; */
    background-color: white;
    padding: 8px 60px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 6px;
}
.page_content>.large_banner>.section_wrapper>.left>button:hover
{
    background-color: var(--dark_blue);
    color: white;
}
@media screen and (max-width: 1050px)
{

    .page_content>.large_banner>.section_wrapper
    {
        justify-content: center;
    }
    .page_content>.large_banner>.section_wrapper>.left
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .page_content>.large_banner>.section_wrapper>.left>.details,
    .page_content>.large_banner>.section_wrapper>.left>.label
    {
        text-align: center;
        filter: drop-shadow(4px 4px 4px black);
    }
}
@media screen and (max-width: 840px)
{
    .page_content>.large_banner>.section_wrapper>.left>.join_btn
    {
        width: 100%;
    }
}
@media screen and (max-width: 670px)
{
    .page_content>.large_banner>.section_wrapper>.left
    {
        width: 100%;
        font-size: 8px;
    }
}


/* WHAT WILL YOU LEARN SECTION */

.learn_card_container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    row-gap: 28px;
}
.learn_card_container>.learn_card
{
    background-color: var(--dark_blue);
    border-radius: 6px;
    font-size: 10px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.learn_card_container>.learn_card>.banner
{
    /* max-width: 792px; */
}
.learn_card_container>.learn_card>.banner>img
{
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.learn_card_container>.learn_card>.label
{
    font-size: 3em;
    color: white;
    line-height: 1;
    padding: 0px 22px;
    padding-top: 14px;
    padding-bottom: 20px;
}
.learn_card_container>.learn_card>.details
{
    font-size: 2em;
    color: white;
    padding: 0px 22px;
    padding-bottom: 14px;
}
@media screen and (max-width:1780px)
{
    .learn_card_container
    {
        column-gap: 50px;
    }
}
@media screen and (max-width:850px)
{
    .learn_card_container>.learn_card
    {
        font-size: 8px;
    }
}
@media screen and (max-width:720px)
{
    .learn_card_container
    {
        grid-template-columns: 1fr;
    }
    .learn_card_container>.learn_card
    {
        font-size: 10px;
    }
}


/* FAQ SECTION*/

.faq_container
{
    display: grid;
    grid-template-columns: 371px auto;
    column-gap: 28px;
}
.faq_container>.left
{
    background-color: var(--dark_blue);
    font-size: 10px;
    /* width: 1500px; */
    padding: 22px;
    border-radius: 6px;
    align-self: center;
}
.faq_container>.left *
{
    color: white;
}

.faq_container>.left>.title
{
    font-size: 5em;
}
.faq_container>.left>.questions
{
    list-style-type: none;
}
.faq_container>.left>.questions>li>a
{
    font-size: 2em;
    display: block;
    text-decoration: none;
    padding: 6px 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.62);
}
.faq_container>.left>.questions>li>a:hover
{
    color: rgba(255, 255, 255, 0.596);
}
.faq_container>.left>.questions>li:last-child>a
{
    border-bottom: none;
    padding-bottom: 0;
}

.faq_container>.right
{
    font-size: 20px;
    align-self: flex-end;
    padding-bottom: 16px;
}

@media screen and (max-width: 900px)
{
    .faq_container
    {
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
    }
}

@media screen and (max-width: 720px)
{
    .faq_container
    {
        grid-template-columns: 1fr;
    }
    .faq_container>.right
    {
        padding-top: 28px;
    }
}