footer
{
    /* position: absolute; */
    bottom: 0;
    width: 100%;
}
footer *
{
    color: white;
}
footer>.top
{
    display: flex;
    justify-content: center;
    background-color: var(--dark_blue);
}
footer>.top>.section_wrapper
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}
footer>.top>.section_wrapper>*
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
footer>.top>.section_wrapper>*>.title
{
    font-size: 30px;
    font-weight: 600;
    margin: 32px 0px;
}
footer>.top>.section_wrapper>*>.details
{
    width: 500px;
    font-size: 22px;
    line-height: 1.3;
    padding-top: 8px;
}
footer>.top>.section_wrapper>.center>ul
{
    list-style-type: none;
}
footer>.top>.section_wrapper>.center>ul>li>a
{
    font-size: 22px;
    text-decoration: none;
    border-left: 6px solid white;
    display: block;
    margin-bottom: 18px;
    padding-left: 12px;
    line-height: 1;
}
footer>.top>.section_wrapper>.center>ul>li>a:hover
{
    text-decoration: underline;
}
footer>.top>.section_wrapper>.right>.icons
{
    display: flex;
    padding-top: 32px;
}
footer>.top>.section_wrapper>.right>.icons>a
{
    height: 54px;
    width: 54px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    text-decoration: none;
    background-color: white;
}
footer>.top>.section_wrapper>.right>.icons>a:hover
{
    background-color: var(--darkest_blue);
}
footer>.top>.section_wrapper>.right>.icons>a:hover i
{
    color: white;
}
footer>.top>.section_wrapper>.right>.icons>a:first-child
{
    margin-left: 0;
}
footer>.top>.section_wrapper>.right>.icons>a>i
{
    color: var(--dark_blue);
    font-size: 22px;
}

footer>.bottom
{
    display: flex;
    justify-content: center;
    background-color: var(--darkest_blue);
    font-size: 18px;
    padding: 16px 0px;
}